.a-container {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  //display: flex;
  height: 100%;
  //align-items: center;
  //justify-content: center;
  padding: 30px;
}

.sidenav {
  user-select: none;
}

.full-width {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}


mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

.mat-sidenav {
  width: 220px;
}

button.menu-button {
  color: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

::ng-deep.mat-toolbar.mat-primary {
  color: white;
  background: rgb(63, 81, 181);
  background: linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgba(63, 81, 181, 1) 35%, rgba(9, 9, 121, 1) 100%);
}

.header-toolbar {
  background-color: #FFFFFF;
  background-image: linear-gradient(65deg, #f5ee6f, #c9486d);

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.hamburger {
  color: #f5ee6f;
}

.spacer {
  flex: 1 1 auto;
}
